# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3-journal
media/portfolio/*
!media/portfolio/.gitkeep
staticfiles/

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
